.form-control-style {
    width: 400px;
    height: 56px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    border: 0px;
    padding-left: 54px;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #BBBBBB;
}
.search-icon{
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
}