h3{
    font-size: 40px;
    font-weight: 600;
}
.head-icon {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.font{
    font-size: 24px;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 131, 253, 0) !important;
}



